---
import {getCollection} from 'astro:content'
const projects = await getCollection('projects')
---

<div class="projects-summary">
  <h2>Projects</h2>
  <p>Below is a sample of projects that I've created.</p>

  <ul class="projects-summary-list">
    {projects.map((project) => (
      <li class="project-summary-item">
        <div class="project-summary-screen">
            <a aria-label={project.data.description} href={project.data.images.large}>
              <picture>
                <source srcset={`${project.data.images.large.toString()} 1400w, ${project.data.images.big.toString()} 1024w, ${project.data.images.medium.toString()} 640w, ${project.data.images.small.toString()} 320w`} type="image/avif" />
                <img src={`${project.data.images.large.toString()}`} alt={project.data.description} />
              </picture>
            </a>
        </div>
        <div class="project-summary-details">
          <h3><a aria-label={project.data.description} href={project.data.projectUrl}>{project.data.name}</h3></a>
          <p>{project.data.description}</p>
        </div>
      </li>
    ))}
  </ul>
</div>
